(
    spawn_rate: 0.57,
    spawn_amount: 36,
    emission_shape: Point,
    lifetime: (0.7, 0.0),
    linear_speed: Some((5000.0, 0.0)),
    linear_acceleration: Some((0.0, 0.0)),
    direction: Some(((0.0, 0.0), 1.0)),
    angular_speed: Some((11.0, 0.0)),
    angular_acceleration: Some((0.0, 0.0)),
    scale: Some((219.0, 0.0)),
    color: None,
    gravity_direction: None,
    gravity_speed: None,
    linear_damp: Some((0.0, 0.0)),
    angular_damp: Some((0.0, 0.0)),
    scale_curve: None,
    color_curve: Some((
        points: [
            (
                (red: 0.7982491, green: 0.015964968, blue: 0.015964968, alpha: 1.0),
                0.0,
                None
            ),
            (
                (red: 0.8462111, green: 0.013847077, blue: 0.013847077, alpha: 1.0),
                1.0,
                None
            )
        ]
    ))
)
